<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
@{
    ViewData["Title"] = "Home Page";
}
@model wedding.Models.Wedding;
<a href="/dashboard">Dashboard</a> | <a href="/logout">Logout</a>
<h1>@Model.WedderOne & @Model.WedderTwo's Wedding</h1>
<br>
<h3>@Model.Date.ToString("D")</h3>
<br>
<br>
<h3>Guests: </h3>
<ul>
    @{
     @foreach(var guest in @ViewBag.CurrentWedding.Guests)
     {
        <li>@guest.Users.FirstName @guest.Users.LastName</li>
     }
}
</ul>